<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
<h1>User Details</h1>
<p th:if="${user != null}" th:text="${user.id + '.' + user.name}"></p>
<p th:if="${user != null}" th:text="${user.email}"></p>

<!--<form method="DELETE" th:if="${user != null}" th:method="DELETE" th:action="@{/{name}(name=${user.getName()})}" th:object="${user}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</form>-->
<form th:method="sure" th:if="${user != null}" th:action="@{/{name}(name=${user.getName()})}" th:object="${user}">
    <input type="submit" value="Delete"/>
</form>
<!--@{ / {name} (name=${user.getName()}) }-->
</body>
</html>