<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Program with Exercises</title>
</head>
<body>
<h1>Program detail:</h1>
<h2 th:text="${program.getName()}"></h2>

<!-- Show all exercises of the program -->
<div th:each="dayOfWeek : ${T(java.time.DayOfWeek).values()}">
    <h6 th:text="${dayOfWeek}"></h6>
    <ul>
        <!-- Filter exercise by the day of the week -->
        <th:block th:each="exercise : ${exercises}">
            <th:block th:if="${dayOfWeek eq exercise.dayOfWeek}">
                <div>
                    <span th:text="${exercise.name}"></span>
                    <span th:text="${'- sets: ' + exercise.sets  + ', repetitions: ' +exercise.repetitions +  ', weight: ' + exercise.weight}"></span>
                </div>
            </th:block>
        </th:block>
    </ul>
</div>
<!-- Button to show the form -->
<button onclick="showForm()">Add Exercise</button>

<!-- Form to add exercise -->
<form id="exerciseForm" style="display: none;" th:action="@{'/' + ${userName} + '/' + ${programName} + '/add-exercise'}" method="post" th:object="${newExercise}">
    <label for="exerciseName">Exercise Name:</label>
    <input type="text" id="exerciseName" name="name" th:field="*{name}" required/>
    <label for="sets">Sets:</label>
    <input type="number" id="sets" name="sets" th:field="*{sets}" required/>
    <label for="repetitions">Repetitions:</label>
    <input type="number" id="repetitions" name="repetitions" th:field="*{repetitions}" required/>
    <label for="weight">Weight (kg):</label>
    <input type="number" id="weight" name="weight" th:field="*{weight}" required/>
    <label for="dayOfWeek">Day of Week:</label>
    <select id="dayOfWeek" name="dayOfWeek" th:field="*{dayOfWeek}" required>
        <option value="MONDAY">Monday</option>
        <option value="TUESDAY">Tuesday</option>
        <option value="WEDNESDAY">Wednesday</option>
        <option value="THURSDAY">Thursday</option>
        <option value="FRIDAY">Friday</option>
        <option value="SATURDAY">Saturday</option>
        <option value="SUNDAY">Sunday</option>
    </select>
    <button type="submit">Add Exercise</button>
</form>

<script th:inline="javascript">
    // JavaScript function to show the form
    function showForm() {
        var form = document.getElementById('exerciseForm');
        form.style.display = 'block';
    }

    var userName = /*[[${userName}]]*/ '';
    var programName = /*[[${programName}]]*/ '';
</script>
</body>
</html>